beautifulsoup4
chromadb
dotenv
langchain
langchain-classic
langchain_community
langchain_core
langchain_openai
langchainhub
langchain_google_genai
langchain_huggingface
python-dotenv
sentence_transformers